# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/
.env/
venv.bak/
env.bak/

# Environment Variables
.env
.env.*

# IDE / Editor
.vscode/
.idea/

# macOS
.DS_Store

build/
fpl-chatbot.spec
dist/
FPL Chatbot.spec
FPL Chatbot.app/
FPL-Chatbot-Mac.zip
buildozer.spec
